{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    max-width: 400px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  }

  .card-header {
    background-color: #0099ff;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-body {
    padding: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }

  input[type=text],
  input[type=password] {
    border: none;
    border-radius: 6px;
    background-color: #292929;
    padding: 14px;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  button[type=submit] {
    background-color: #0099ff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  button[type=submit]:hover {
    background-color: #0077cc;
  }

  p a{
    text-decoration: none;
  }

  .alert-danger {
    background-color: #ff4d4d;
    color: #ffffff;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ff3333;
    border-radius: 6px;
  }
</style>

{% endblock %}

{% block content %}
<div class="login-container">
  <div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit">Login</button><br><br>
        <p>Not a user? <a href="register">Sign up</a> </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
